<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <script src="{% static 'portal/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'portal/tether.min.js' %}"></script>
    <script src="{% static 'portal/jquery-ui.min.js' %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'portal/basepage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portal/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portal/iconic/font/css/open-iconic-bootstrap.css' %}" />
    {% block static_files %}{% endblock %}
    <title>{% block title %}bPortal{% endblock %}</title>
    {% block favicon %}{% endblock %}
</head>

<body>

   <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
     <div class="collapse navbar-collapse" id="navbar">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" id="modules_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Módulos</a>
           <div class="dropdown-menu scrollable-dropdown" aria-labelledby="modules_dropdown">
                {% for module_key, module in modules.items %}
                    <a class="dropdown-item" id="modules_dropdown_{{ module.module_key }}" href="{% url 'module_list' module.module_key %}">{{ module.module_label }}</a>
                {% endfor %}
           </div>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </div>
   </nav>

   <div class="container">
       {% block content %}{% endblock %}
   </div><!-- /.container -->

 </body>

</html>
