{% load i18n %}
{% load filters %}
<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'portal/bootstrap.min.css' %}" />
    <script src="{% static 'portal/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'portal/tether.min.js' %}"></script>
    <script src="{% static 'portal/jquery-ui.min.js' %}"></script>
    <script src="{% static 'portal/popper.min.js' %}"></script>
    <script src="{% static 'portal/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'portal/basepage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portal/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portal/iconic/font/css/open-iconic-bootstrap.css' %}" />
    {% block static_files %}{% endblock %}
    <title>{% block title %}bPortal{% endblock %}</title>
    {% block favicon %}{% endblock %}
</head>

<body>

   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="{% url 'index' %}"><span class="oi oi-home"></span> {% trans "Home" %}</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" id="modules_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-spreadsheet"></span> {% trans "Modules" %}</a>
           <div class="dropdown-menu scrollable-dropdown" aria-labelledby="modules_dropdown">
                {% for module_key, module in modules.items %}
                    <a class="dropdown-item" id="modules_dropdown_{{ module.module_key }}" href="{% url 'module_list' module.module_key %}"><img src="{% static 'portal/img/modules/dark/' %}{{ module_key }}.svg" width="25px"> {{ module_labels|get_label:module_key }}</a>
                {% endfor %}
           </div>
         </li>
         {% if request.user.is_superuser %}
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" id="configure_portal_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-wrench"></span> {% trans "Configure portal" %}</a>
             <div class="dropdown-menu scrollable-dropdown" aria-labelledby="modules_dropdown">
               <a class="dropdown-item" id="edit_views" href="{% url 'edit_layouts' %}"><span class="oi oi-list-rich"></span> {% trans "Edit views" %}</a>
               <a class="dropdown-item" id="edit_roles" href="{% url 'edit_roles' %}"><span class="oi oi-shield"></span> {% trans "Edit roles" %}</a>
               <a class="dropdown-item" id="edit_users" href="{% url 'edit_users' %}"><span class="oi oi-people"></span> {% trans "Edit users" %}</a>
             </div>
            </li>
         {% endif %}
       </ul>
       <ul class="my-2 my-lg-0">
         <span class="navbar-text my-2 my-sm-0">{% blocktrans with username=request.user.username %}Signed in as <b>{{username}}</b>{% endblocktrans %}</span>
         <a href="{% url 'user_profile' %}" class="btn btn-outline-primary my-2 my-sm-0 ml-2" role="button"><span class="oi oi-person"></span> {% trans "Profile" %}</a>
         <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0 ml-2" role="button"><span class="oi oi-account-logout"></span> {% trans "Logout" %}</a>
       </ul>
     </div>
   </nav>

   <main role="main" class="container">
       {% block content %}{% endblock %}
   </main>

 </body>

</html>
