{% extends "portal/basepage.html" %}
{% load i18n %}
{% block title %}{% trans "Edit views" %}{% endblock %}
{% block content %}

    {% if available_modules %}
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>{% trans "Module" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for module in available_modules %}
                <tr>
                    <td>{{ module.module_label }}</td>
                    <td>
                        <a href="{% url 'edit_list_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm">{% trans "List view" %}</a>
                    </td>
                    <td>
                        <a href="{% url 'edit_detail_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm">{% trans "Detail view" %}</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm">{% trans "Create view" %}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm">{% trans "Edit view" %}</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no modules available." %}</p>
    {% endif %}

{% endblock %}
