{% extends "portal/basepage.html" %}
{% load i18n %}
{% load filters %}
{% block static_files %}
{% load static %}
<script src="{% static 'portal/session.js' %}"></script>
<script src="{% static 'portal/edit_role.js' %}"></script>
{% endblock %}
{% block title %}{% blocktrans with role=role %}{{role}} role{% endblocktrans %}{% endblock %}
{% block content %}

<div class="row mb-4">
    <div class="col-auto">
        <h2>{% blocktrans with role=role %}<b>{{role}}</b> role configuration{% endblocktrans %}</h2>
    </div>
    <div class="col text-right">
        <a class="btn btn-primary ml-2 mb-2" href="{% url 'edit_roles' %}"><span class="oi oi-list-rich"></span> {% trans "Edit roles" %}</a>
    </div>
</div>

    {% if role_bean %}

        {% if module_permissions %}
            <a href="#" class="btn btn-primary float-right" onclick="saveRolePermissions();">{% trans "Save" %}</a><br><br>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>{% trans "Module" %}</th>
                        <th>{% trans "Read" %}</th>
                        <th>{% trans "Create" %}</th>
                        <th>{% trans "Edit" %}</th>
                        <th>{% trans "Delete" %}</th>
                    </tr>
                </thead>
                <tbody id="module_permissions">
                    {% for module_key, def in module_permissions.items %}
                        <tr id="{{ module_key }}_permissions">
                            {% with module_img=module_key|get_module_dark_svg %}
                                <td>
                                    <img src="{% static module_img %}" width="25px"> {{ def.module_label }}
                                </td>
                            {% endwith %}
                            <td><input type="checkbox" {% if def.read %} checked {% endif %} module="{{ module_key }}" permission="read" id="{{ module_key }}_read"></td>
                            <td><input type="checkbox" {% if def.create %} checked {% endif %} module="{{ module_key }}" permission="create" id="{{ module_key }}_create"></td>
                            <td><input type="checkbox" {% if def.edit %} checked {% endif %} module="{{ module_key }}" permission="edit" id="{{ module_key }}_edit"></td>
                            <td><input type="checkbox" {% if def.delete %} checked {% endif %} module="{{ module_key }}" permission="delete" id="{{ module_key }}_delete"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <a href="#" class="btn btn-primary float-right" onclick="saveRolePermissions();">{% trans "Save" %}</a><br>
            <script>
                $( function() {
                    $( "#module_permissions" ).sortable();
                    $( "#module_permissions" ).disableSelection();
                } );
            </script>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {% trans "There are no modules available." %}
            </div>
        {% endif %}

    {% else %}
        <div class="alert alert-danger" role="alert">
            {% blocktrans with role=role %}<b>{{role}}</b> role does not exist.{% endblocktrans %}
        </div>
    {% endif %}

{% endblock %}
