{% extends "portal/basepage.html" %}
{% load i18n %}
{% block title %}{% trans "Edit views" %}{% endblock %}
{% block content %}

    {% if available_modules %}
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>{% trans "Module" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key, module in available_modules.items %}
                <tr>
                    <td>{{ module.module_label }}</td>
                    <td>
                        <a href="{% url 'edit_list_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm"><span class="oi oi-list"></span> {% trans "List view" %}</a>
                    </td>
                    <td>
                        <a href="{% url 'edit_filter_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm"><span class="oi oi-magnifying-glass"></span> {% trans "Filter view" %}</a>
                    </td>
                    <td>
                        <a href="{% url 'edit_detail_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm"><span class="oi oi-eye"></span> {% trans "Detail view" %}</a>
                    </td>
                    <td>
                        <a href="{% url 'edit_create_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm"><span class="oi oi-document"></span> {% trans "Create view" %}</a>
                    </td>
                    <td>
                        <a href="{% url 'edit_edit_layout' module.module_key %}" role="button" class="btn btn-outline-primary btn-sm"><span class="oi oi-pencil"></span> {% trans "Edit view" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no modules available." %}</p>
    {% endif %}

{% endblock %}
