{% extends "portal/basepage.html" %}
{% load i18n %}
{% block static_files %}
{% load staticfiles %}
<script src="{% static 'portal/session.js' %}"></script>
<script src="{% static 'portal/save_layouts.js' %}"></script>
{% endblock %}
{% block title %}
    {% blocktrans with module=module_key %}{{module}} detail view{% endblocktrans %}
{% endblock %}
{% block content %}

<h2>{% blocktrans with module=module_key %}{{module}} detail view{% endblocktrans %}</h2><br>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{% trans "Available fields" %}</h4>
                    <p class="card-text">
                        <div class="card">
                            <div class="list-group list-group-flush sortable-ul" id="available-fields">
                                {% for field, def in available_fields.items %}
                                    <div class="list-group-item justify-content-between" id="{{ field }}">
                                        {{ def.label }}
                                        <span class="text-muted">[{{ field }}]</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </p>
                    <p class="card-text"><small class="text-muted">{% trans "Drag a field here to not show it" %}</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{% trans "Fields" %}</h4>
                    <a href="#" class="btn btn-primary" onclick="add_detail_row();">{% trans "Add row (1 col)" %}</a>
                    <a href="#" class="btn btn-primary" onclick="add_detail_row2();">{% trans "Add row (2 col)" %}</a>
                    <p class="card-text">
                        <div id="selected-fields">
                            <div class="list-group list-group-flush" id="selected_fields_list_group">
                                {% for row in module_fields %}
                                    <div class="row">
                                        {% for field in row %}
                                            <div class="col card sortable-ul selected-field">
                                                {% if field %}
                                                    <div class="list-group-item justify-content-between" id="{{ field.name }}">
                                                        {{ field.label }}
                                                        <span class="text-muted">[{{ field.name }}]</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <div class="col col-2 text-center align-self-center">
                                            <a class="btn btn-danger" href="#" role="button" onclick="remove_detail_row($(this));">
                                                <span class="oi oi-x"></span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </p>
                    <p class="card-text"><small class="text-muted">{% trans "Fields that will be shown in detail view." %}</small></p>
                    <a href="#" class="btn btn-primary" onclick="save_detail_layout();">{% trans "Save" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $( function() {
      $( ".selected-field, #available-fields" ).sortable({
        connectWith: ".sortable-ul"
      }).disableSelection();
      $(".selected-field").each(function() {
        $(this).on("sortreceive", function(event, ui) {
          if ($(this).children().length > 1) {
            $(ui.sender).sortable('cancel');
          }
        })
      });
    } );
</script>

{% endblock %}
