{% load i18n %}
{% load filters %}
{% load staticfiles %}

{% if field.type == 'enum' or field.type == 'dynamicenum' %}
    <select name="{{field.name}}" class="form-control"{% if field.required %} required{% endif %} id="{{field.name}}">
        {% for option, defs in field.options.items %}
            <option value="{{defs.name}}"{% if option == value %} selected{% endif %}>{{defs.value}}</option>
        {% endfor %}
    </select>
    {% if field.type == 'dynamicenum' %}
        <script src="{% static 'portal/field_edit_dynamicenum.js' %}"></script>
        <script type="text/javascript">
            if(typeof de_entries == 'undefined') {
                var de_entries = new Array;
            }
            if (de_entries['{{field.name}}'] == null) {
                de_entries['{{field.name}}'] = [];
                {% for option, defs in field.options.items %}
                    de_entries['{{field.name}}']['{{defs.name}}'] = '{{defs.value}}';
                {% endfor %}
            }
            {% if field.parentenum %}
                $( document ).ready(function() {
                    var el = document.getElementById('{{field.parentenum}}');
                    if (el) {
                        el.addEventListener("change", function () {
                            update_dynamicenum('{{field.parentenum}}', '{{field.name}}')
                        }, false);
                        update_dynamicenum('{{field.parentenum}}', '{{field.name}}');
                    }
                });
            {% endif %}
        </script>
    {% endif %}
{% elif field.type == 'bool' %}
    <input class="checkbox"
        id="{{ field }}"
        {% if value == '1' %}
            checked="checked"
        {% endif %}
        type="checkbox"
    >
{% elif field.type == 'int' or field.type == 'uint' or field.type == 'ulong' or field.type == 'long' or field.type == 'short' or field.type == 'tinyint' %}
    <input type="number" name="{{field.name}}" value="{{ value }}" class="form-control" {% if field.required %} required{% endif %}>
{% elif field.type == 'double' or field.type == 'float' or field.type == 'decimal' or field.type == 'decimal2' %}
    <input type="number" name="{{field.name}}" value="{{ value }}" class="form-control" {% if field.required %} required{% endif %} step="0.01">
{% elif field.type == 'currency' %}
    <input type="number" name="{{field.name}}" value="{{ value }}" class="form-control" {% if field.required %} required{% endif %} step="0.01">
{% elif field.type == 'text' or field.type == 'longtext' or field.type == 'html' or field.type == 'longhtml' %}
    <textarea class="form-control" name="{{field.name}}" id="{{field.name}}" rows="10" {% if field.required %} required{% endif %}>{{ value|safe }}</textarea>
    {% if field.type == 'html' or field.type == 'longhtml' or module_key == 'Cases' and field.name == 'description' %}
        <script src="{% static 'portal/tinymce/tinymce.min.js' %}"></script>
        <script>
            tinymce.init({
                selector: '#{{field.name}}'
            });
        </script>
    {% endif %}
{% elif field.type == 'multienum' %}
    <select name="{{field.name}}" class="form-control"{% if field.required %} required{% endif %} multiple>
        {% with selected_values=value|unencode_multienum %}
            {% for option, defs in field.options.items %}
                <option value="{{defs.name}}"{% if option in selected_values %} selected{% endif %}>{{defs.value}}</option>
            {% endfor %}
        {% endwith %}
    </select>
{% elif field.type == 'date' %}
    <input type="date" name="{{field.name}}" value="{{ value }}" class="form-control" {% if field.required %} required{% endif %}>
{% elif field.type == 'time' %}
    <input type="time" name="{{field.name}}" value="{{ value }}" class="form-control" {% if field.required %} required{% endif %}>
{% elif field.type == 'datetime' or field.type == 'datetimecombo' %}
    <input type="datetime-local" name="{{field.name}}" value="{{ value|iso_datetime }}" class="form-control" {% if field.required %} required{% endif %}>
{% elif field.type == 'relate' %}
    <input type="hidden" name="{{field.name}}">
    <select name="{{field.id_name}}" id="{{field.id_name}}" class="form-control"{% if field.required %} required{% endif %}>
        <option value=""></option>
        {% with selected_value=record|get:field.id_name %}
            {% if selected_value %}
                <option value="{{selected_value}}" selected>{{ value }}</option>
            {% endif %}
        {% endwith %}
    </select>
    <script type="text/javascript">
        $.ajax({
            url: "{% url 'user_records' field.related_module %}",
            type: "GET"
        }).done(function(response) {
            response.records.forEach(option => {
                if ('{{record|get:field.id_name}}' != option.id) {
                    $("#{{field.id_name}}").append("<option value='" + option.id + "'>" + option.name + "</option>");
                }
            });
        }).fail(function(response) {
            console.log('Error retrieving "{{field.id_name}}" options.');
        });
    </script>
{% elif field.type == 'radioenum' %}
    {% for option, defs in field.options.items %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{field.name}}" value="{{defs.name}}"{% if option == value %} checked {% endif %}{% if field.required %} required {% endif %}>
            <label class="form-check-label">
                {{defs.value}}
            </label>
        </div>
    {% endfor %}
{% elif field.type == 'parent_type' %}
    <div class="row"><div class="col">
        <select name="{{field.name}}" class="form-control"{% if field.required %} required{% endif %} onchange="change_parent_id_options(this.value)">
            <option value=""></option>
            {% for option, defs in field.options.items %}
                <option value="{{defs.name}}"{% if option == value %} selected{% endif %}>{{defs.value}}</option>
            {% endfor %}
        </select>
    </div><div class="col">
        <select name="parent_id" id="parent_id" class="form-control"{% if field.required %} required{% endif %}>
            <option value=""></option>
            {% with selected_value=record.parent_id %}
                {% if selected_value %}
                    <option value="{{selected_value}}" selected>{{record.parent_name|safe}}</option>
                {% endif %}
            {% endwith %}
        </select>
        <script type="text/javascript">
            {% if value %}
                $.ajax({
                    url: "{% url 'user_records' value %}",
                    type: "GET"
                }).done(function(response) {
                    response.records.forEach(option => {
                        if ('{{record.parent_id}}' != option.id) {
                            $("#parent_id").append("<option value='" + option.id + "'>" + option.name + "</option>");
                        }
                    });
                }).fail(function(response) {
                    console.log('Error retrieving "parent_id" options.');
                });
            {% endif %}
            function change_parent_id_options(module) {
                var parent_id = $("#parent_id");
                parent_id.empty();
                parent_id.append('<option value=""></option>');
                if (module) {
                    $.ajax({
                        url: '/user_records/' + module,
                        type: "GET"
                    }).done(function(response) {
                        response.records.forEach(option => {
                            parent_id.append("<option value='" + option.id + "'>" + option.name + "</option>");
                        });
                    }).fail(function(response) {
                        console.log('Error retrieving "parent_id" options.');
                    });
                }
            }
        </script>
    </div></div>
{% else %}
    <input type="text" name="{{field.name}}" value="{{ value|safe }}" class="form-control" {% if field.required %} required{% endif %}>
{% endif %}
