{% extends "portal/basepage.html" %}
{% load i18n %}
{% load filters %}
{% load staticfiles %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block favicon %}<link rel="shortcut icon" href="{% static 'portal/img/icons/favicon/home.ico' %}">{% endblock %}
{% block content %}

{% if modules %}
  <div class="card-columns text-center">
    {% for module_key, module in modules.items %}
      <a id="modules_dropdown_{{ module.module_key }}" href="{% url 'module_list' module.module_key %}" class="card p-3 text-white bg-dark">
        {% with module_img=module_key|get_module_light_svg %}
            <h3 class="card-title"><img src="{% static module_img %}" width="128px"></h3>
        {% endwith %}
        <p class="card-text">{{ module_labels|get_label:module_key }}</p>
      </a>
    {% endfor %}
  </div>
{% else %}
  <div class="alert alert-info" role="alert">
    {% trans "You do not have access to any module." %}
  </div>
{% endif %}

{% endblock %}
