{% load i18n %}
{% if filterable_fields %}
    {% load filters %}
    {% load staticfiles %}
    <form
        id="{{ module_key }}_filter"
        action="{% url 'module_list' module_key %}"
        method="post"
    >
        {% csrf_token %}
        {% for field, def in filterable_fields.items %}
            {% if forloop.first %}
                <div class="row">
            {% endif %}

            <div class="col-md-6 mb-3">
                <label>{{ def.label|safe }}</label>
                {% if def.type == 'enum' or def.type == 'dynamicenum' or def.type == 'datetimecombo' or def.type == 'datetime' or def.type == 'date' or def.type == 'radioenum' or def.type == 'multienum' %}
                    <div class="row">
                        <div class="col">
                            {% if def.type == 'multienum' %}
                                <select class="form-control" name="{{ field }}" id="filter_{{field}}" multiple>
                                    {% for key, definition in def.options.items %}
                                        <option value="{{key}}">{{definition.value}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select class="form-control" name="{{ field }}" id="filter_{{field}}">
                                    {% if not "" in def.options %}
                                        <option value=""></option>
                                    {% endif %}
                                    {% for key, definition in def.options.items %}
                                        <option value="{{key}}">{{definition.value}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    {% if def.type == 'datetimecombo' or def.type == 'datetime' or def.type == 'date' %}
                        <div class="col" style="display: none;" id="filter_{{field}}_1_div">
                            <input class="form-control"
                                type="date"
                                id="filter_{{field}}_1"
                                name="{{field}}_1"
                                {% with field1=field|stringformat:"s_1" %}
                                    {% if field1 in current_filters %}
                                        value="{{ current_filters|get:field1 }}"
                                    {% endif %}
                                {% endwith %}
                            >
                        </div>
                        <div class="col" style="display: none;" id="filter_{{field}}_2_div">
                            <input class="form-control"
                                type="date"
                                id="filter_{{field}}_2"
                                name="{{field}}_2"
                                {% with field2=field|stringformat:"s_2" %}
                                    {% if field2 in current_filters %}
                                        value="{{ current_filters|get:field2 }}"
                                    {% endif %}
                                {% endwith %}
                            >
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $("#filter_{{field}}").on("change", function() {
                                    if (
                                        this.value == "=" ||
                                        this.value == "not_equal" ||
                                        this.value == "greater_than" ||
                                        this.value == "less_than"
                                    ) {
                                        $("#filter_{{field}}_1_div").show();
                                    } else {
                                        $("#filter_{{field}}_1_div").hide();
                                    }
                                    if (this.value == "between") {
                                        $("#filter_{{field}}_1_div").show();
                                        $("#filter_{{field}}_2_div").show();
                                    } else {
                                        $("#filter_{{field}}_2_div").hide();
                                    }
                                });
                            });
                        </script>
                    {% endif %}
                    {% if field in current_filters %}
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $("#filter_{{field}}")
                                    .val(
                                        {% if def.type == 'multienum' %}
                                            {% with opts=current_filters|getlist:field %}
                                                {{opts|get_list_str|safe}}
                                            {% endwith %}
                                        {% else %}
                                            "{{ current_filters|get:field }}"
                                        {% endif %}
                                    )
                                    .change();
                            });
                        </script>
                    {% endif %}
                    </div>
                    {% if def.type == 'dynamicenum' %}
                        <script src="{% static 'portal/field_edit_dynamicenum.js' %}"></script>
                        <script type="text/javascript">
                            if(typeof de_entries == 'undefined') {
                                var de_entries = new Array;
                            }
                            if (de_entries['filter_{{def.name}}'] == null) {
                                de_entries['filter_{{def.name}}'] = [];
                                {% for option, defs in def.options.items %}
                                    de_entries['filter_{{def.name}}']['{{defs.name}}'] = '{{defs.value}}';
                                {% endfor %}
                            }
                            {% if def.parentenum %}
                                $( document ).ready(function() {
                                    setTimeout(function() {
                                        var el = document.getElementById('filter_{{def.parentenum}}');
                                        if (el) {
                                            el.addEventListener("change", function () {
                                                updateDynamicEnum('filter_{{def.parentenum}}', 'filter_{{def.name}}')
                                            }, false);
                                            updateDynamicEnum('filter_{{def.parentenum}}', 'filter_{{def.name}}');
                                        }
                                    }, 100);
                                });
                            {% endif %}
                        </script>
                    {% endif %}
                {% elif def.type == 'bool' %}
                    <select class="form-control" name="{{ field }}" id="filter_{{field}}">
                        <option value=""></option>
                        <option value="0">No</option>
                        <option value="1">Sí</option>
                    </select>
                    {% if field in current_filters %}
                        <script type="text/javascript">
                            $("#filter_{{field}}")
                                .val("{{ current_filters|get:field }}")
                                .change();
                        </script>
                    {% endif %}
                {% elif def.type == 'int' or def.type == 'uint' or def.type == 'ulong' or def.type == 'long' or def.type == 'short' or def.type == 'tinyint' %}
                    <input type="number"
                        name="{{ field }}"
                        value="{% if field in current_filters %}{{ current_filters|get:field }}{% endif %}"
                        class="form-control"
                    >
                {% elif def.type == 'double' or def.type == 'float' or def.type == 'decimal' or def.type == 'decimal2' %}
                    <input type="number"
                        name="{{ field }}"
                        value="{% if field in current_filters %}{{ current_filters|get:field }}{% endif %}"
                        class="form-control"
                        step="0.01"
                    >
                {% elif def.type == 'currency' %}
                    <input type="number"
                        name="{{ field }}"
                        value="{% if field in current_filters %}{{ current_filters|get:field }}{% endif %}"
                        class="form-control"
                        step="0.01"
                    >
                {% elif def.type == 'text' or def.type == 'longtext' or def.type == 'html' or def.type == 'longhtml' %}
                    <textarea class="form-control"
                        name="{{ field }}"
                        rows="3"
                    >
                        {% if field in current_filters %}{{ current_filters|get:field }}{% endif %}
                    </textarea>
                {% else %}
                    <input type="text"
                        class="form-control"
                        placeholder="{{ def.label|safe }}"
                        value="{% if field in current_filters %}{{ current_filters|get:field }}{% endif %}"
                        name="{{ field }}"
                    >
                {% endif %}
            </div>

            {% if forloop.last %}
                </div>
            {% else %}
                {% if forloop.counter|divisibleby:'2' %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="text-right">
            <a href="{% url 'module_list' module_key %}" class="btn btn-secondary mr-2"><span class="oi oi-delete"></span> {% trans "Clear filter" %}</a>
            <button class="btn btn-primary" type="submit"><span class="oi oi-magnifying-glass"></span> {% trans "Filter" %}</button>
        </div>
    </form>
    <br>
{% endif %}
