{% extends "portal/basepage.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}
{% load filters %}

    <h1>{{ module_key }}</h1>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                {% for field, def in module_fields.items %}
                    <th id="{{ field.name }}_label">{{ def.label }}</th>
                {% endfor %}
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    {% for field, def in module_fields.items %}
                        <td id="{{ field.name }}">{{ record|get:field }}</td>
                    {% endfor %}
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-sm">Remove</button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No records found!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
