{% load i18n %}
{% load filters %}
{% block static_files %}
{% load static %}
<script src="{% static 'portal/session.js' %}"></script>
<script src="{% static 'portal/cases_detail.js' %}"></script>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/detail_cases.css' %}" />

<div id="case-updates">
    {% for update in case_updates.entry_list %}
        {% if forloop.first %}
            <button type="button" class="btn btn-primary mb-4 mr-2"
                onclick="collapseCaseUpdates();">{% trans "Collapse all updates" %}
            </button>
            <button type="button" class="btn btn-primary mb-4"
                onclick="expandCaseUpdates();">{% trans "Expand all updates" %}
            </button>
        {% endif %}
        {% include "portal/module_detail_case_update.html" with show=forloop.last %}
    {% endfor %}
</div>

<div class="card contact-update border-warning">
  <div class="card-body">
    <h5 class="card-title">{% trans "Update case" %}</h5>
    <form id="update-case-form">
      <input type="hidden" value="{{ record.id }}" name="case-id" id="case-id">
      <div class="form-group">
        <textarea class="form-control" id="update-case-text" name="update-case-text" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="update-case-attachment-label">{% trans "Attachments:" %}</label>
        <input type="file" class="form-control-file" id="update-case-attachment" name="update-case-attachment" multiple>
      </div>
      <button type="submit" class="btn btn-primary" id="update-case-form-submit-button"><span class="oi oi-share"></span> {% trans "Add update" %}</button>
    </form>
  </div>
</div>

<script src="{% static 'portal/tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: '#update-case-text'
    });
</script>

<!-- Modal -->
<div class="modal fade" id="update_case_modal" tabindex="-1" role="dialog" aria-labelledby="update_case_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update_case_modal_title">{% trans "Update case" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-success" role="alert">
          </div>
          <div class="alert alert-danger" role="alert">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Ok" %}</button>
      </div>
    </div>
  </div>
</div>

<div id="loading_modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <img src="{% static 'portal/animated/loading.svg' %}">
    </div>
</div>
