{% extends "portal/basepage.html" %}
{% load i18n %}
{% load filters %}
{% block title %}
    {{ module_labels|get_label:module_key }}
{% endblock %}
{% load staticfiles %}
{% block favicon %}<link rel="shortcut icon" href="{% static 'portal/img/modules/favicon/' %}{{ module_key }}.ico">{% endblock %}
<script src="{% static 'portal/session.js' %}"></script>
{% block content %}
{% load filters %}

    <div class="row">
        <div class="col">
            <h1><img src="{% static 'portal/img/modules/dark/' %}{{ module_key }}.svg" width="44px"> {{ module_labels|get_label:module_key }}</h1>
        </div>
        <div class="col text-right">
            <a href="{% url 'module_list' module_key %}" class="btn btn-primary"><span class="oi oi-list"></span> {% trans "List" %}</a>
        </div>
    </div>

    <br>

    {% if error_on_create %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="oi oi-cloud-upload"></span>
            {% trans "Error creating record." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif record_created_successfully %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="oi oi-cloud-upload"></span>
            {% trans "Record created successfully." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if module_fields %}

        <form class="card" action="{% url 'module_create' module_key %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="container">
        {% for row in module_fields %}
            <div class="row">
            {% for field in row %}
                <div class="col">
                    {% if field %}
                        <div class="row">
                            <div class="col-4">
                                <b>{{ field.label }}:</b>
                            </div>
                            <div class="col">
                                {% with value=field.default_value %}
                                    {% if field.type == 'enum' or field.type == 'dynamicenum' %}
                                        <select name="{{field.name}}" class="form-control mb-2"{% if field.required %} required{% endif %}>
                                            {% for option, defs in field.options.items %}
                                                <option value="{{defs.name}}"{% if option == value %} selected{% endif %}>{{defs.value}}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif field.type == 'bool' %}
                                        <input class="checkbox"
                                            id="{{ field }}"
                                            {% if value == '1' %}
                                                checked="checked"
                                            {% endif %}
                                            type="checkbox"
                                        >
                                    {% elif field.type == 'int' or field.type == 'uint' or field.type == 'ulong' or field.type == 'long' or field.type == 'short' or field.type == 'tinyint' %}
                                        <input type="number" name="{{field.name}}" value="{{ value }}" class="form-control mb-2" {% if field.required %} required{% endif %}>
                                    {% elif field.type == 'double' or field.type == 'float' or field.type == 'decimal' or field.type == 'decimal2' %}
                                        <input type="number" name="{{field.name}}" value="{{ value }}" class="form-control mb-2" {% if field.required %} required{% endif %} step="0.01">
                                    {% elif field.type == 'currency' %}
                                        <input type="number" name="{{field.name}}" value="{{ value }}" class="form-control mb-2" {% if field.required %} required{% endif %} step="0.01">
                                    {% elif field.type == 'text' or field.type == 'longtext' or field.type == 'html' or field.type == 'longhtml' %}
                                        <textarea class="form-control" name="{{field.name}}" rows="3" {% if field.required %} required{% endif %}>{{ value }}</textarea>
                                    {% elif field.type == 'multienum' %}
                                        <select name="{{field.name}}" class="form-control mb-2"{% if field.required %} required{% endif %} multiple>
                                            {% with selected_values=value|unencode_multienum %}
                                                {% for option, defs in field.options.items %}
                                                    <option value="{{defs.name}}"{% if option in selected_values %} selected{% endif %}>{{defs.value}}</option>
                                                {% endfor %}
                                            {% endwith %}
                                        </select>
                                    {% elif field.type == 'date' %}
                                        <input type="date" name="{{field.name}}" value="{{ value }}" class="form-control mb-2" {% if field.required %} required{% endif %}>
                                    {% elif field.type == 'time' %}
                                        <input type="time" name="{{field.name}}" value="{{ value }}" class="form-control mb-2" {% if field.required %} required{% endif %}>
                                    {% elif field.type == 'datetime' or field.type == 'datetimecombo' %}
                                        <input type="datetime-local" name="{{field.name}}" value="{{ value|iso_datetime }}" class="form-control mb-2" {% if field.required %} required{% endif %}>
                                    {% elif field.type == 'relate' %}
                                        <input type="hidden" name="{{field.name}}">
                                        <select name="{{field.id_name}}" id="{{field.id_name}}" class="form-control mb-2"{% if field.required %} required{% endif %}>
                                            <option value=""></option>
                                            <option value="{{record|get:field.id_name}}" selected>{{ value }}</option>
                                        </select>
                                        <script type="text/javascript">
                                            $.ajax({
                                                url: "{% url 'contact_records' field.related_module %}",
                                                type: "GET"
                                            }).done(function(response) {
                                                response.records.forEach(option => {
                                                    if ('{{record|get:field.id_name}}' != option.id) {
                                                        $("#{{field.id_name}}").append("<option value='" + option.id + "'>" + option.name + "</option>");
                                                    }
                                                });
                                            }).fail(function(response) {
                                                console.log('Error retrieving "{{field.id_name}}" options.');
                                            });
                                        </script>
                                    {% elif field.type == 'radioenum' %}
                                        {% for option, defs in field.options.items %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="{{field.name}}" value="{{defs.name}}"{% if option == value %} checked {% endif %}{% if field.required %} required {% endif %}>
                                                <label class="form-check-label">
                                                    {{defs.value}}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% elif field.type == 'parent_type' %}
                                        <div class="row"><div class="col">
                                            <select name="{{field.name}}" class="form-control mb-2"{% if field.required %} required{% endif %} onchange="change_parent_id_options(this.value)">
                                                {% for option, defs in field.options.items %}
                                                    <option value="{{defs.name}}"{% if option == value %} selected{% endif %}>{{defs.value}}</option>
                                                {% endfor %}
                                            </select>
                                        </div><div class="col">
                                            <select name="parent_id" id="parent_id" class="form-control mb-2"{% if field.required %} required{% endif %}>
                                                <option value=""></option>
                                                <option value="{{record.parent_id}}" selected>{{record.parent_name}}</option>
                                            </select>
                                            <script type="text/javascript">
                                                $.ajax({
                                                    url: "{% url 'contact_records' value %}",
                                                    type: "GET"
                                                }).done(function(response) {
                                                    response.records.forEach(option => {
                                                        if ('{{record.parent_id}}' != option.id) {
                                                            $("#parent_id").append("<option value='" + option.id + "'>" + option.name + "</option>");
                                                        }
                                                    });
                                                }).fail(function(response) {
                                                    console.log('Error retrieving "parent_id" options.');
                                                });
                                                function change_parent_id_options(module) {
                                                    $.ajax({
                                                        url: '/contact_records/' + module,
                                                        type: "GET"
                                                    }).done(function(response) {
                                                        var parent_id = $("#parent_id");
                                                        parent_id.empty();
                                                        parent_id.append('<option value=""></option>');
                                                        response.records.forEach(option => {
                                                            parent_id.append("<option value='" + option.id + "'>" + option.name + "</option>");
                                                        });
                                                    }).fail(function(response) {
                                                        console.log('Error retrieving "parent_id" options.');
                                                    });
                                                }
                                            </script>
                                        </div></div>
                                    {% else %}
                                        <input type="text" name="{{field.name}}" value="{{ value }}" class="form-control mb-2" {% if field.required %} required{% endif %}>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
                    <button type="submit" class="btn btn-success mt-4 float-right"><span class="oi oi-circle-check"></span> {% trans "Create" %}</button>
                    <a href="{% url 'module_list' module_key %}" class="btn btn-danger mt-4 float-right mr-2"><span class="oi oi-circle-x"></span> {% trans "Cancel" %}</a>
                </div>
            </div>
        </form>

    {% else %}
        <div class="alert alert-danger" role="alert">
            {% blocktrans with module=module_labels|get_label:module_key %}Module {{module}} has not defined the create view.{% endblocktrans %}
        </div>
    {% endif %}

{% endblock %}
