{% extends "portal/basepage.html" %}
{% load i18n %}
{% load filters %}
{% block title %}
    {% if record %}
        {{record.name}}
    {% else %}
        {{ module_labels|get_label:module_key }}
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% block static_files %}
<script src="{% static 'portal/session.js' %}"></script>
{% endblock %}
{% block favicon %}
    {% with module_ico=module_key|get_module_ico %}
        <link rel="shortcut icon" href="{% static module_ico %}">
    {% endwith %}
{% endblock %}
{% block content %}
{% load filters %}

    <div class="row">
        <div class="col">
            {% with module_img=module_key|get_module_dark_svg %}
                <h1><img src="{% static module_img %}" width="44px"> {{ module_labels|get_label:module_key }}</h1>
            {% endwith %}
        </div>
        <div class="col text-right">
            <a href="{% url 'module_list' module_key %}" class="btn btn-primary"><span class="oi oi-list"></span> {% trans "List" %}</a>
        </div>
    </div>

<br>

    {% if module_fields %}

        {% if record %}
            <div class="card">
                <div class="card-header">
                    <b>{{record.name}}</b>
                    {% if user_can_delete %}
                        <div class="float-right ml-2">
                            {% include "portal/module_remove.html" %}
                        </div>
                    {% endif %}
                    {% if user_can_edit %}
                        <a href="{% url 'module_edit' module_key record.id %}" class="btn btn-outline-primary btn-sm float-right ml-2"><span class="oi oi-pencil"></span> {% trans "Edit" %}</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="container">
            {% for row in module_fields %}
                <div class="row pb-2 pt-2">
                {% for field in row %}
                    <div class="col">
                        {% if field %}
                            <div class="row">
                                {% if row|length == 1 %}
                                    <div class="col-2">
                                {% else %}
                                    <div class="col-4">
                                {% endif %}
                                    <b>{{ field.label }}:</b>
                                </div>
                                <div class="col">
                                    {% with value=record|get:field.name %}
                                        {% if field.type == 'enum' or field.type == 'dynamicenum' %}
                                            {{field.options|get:value|get:"value"}}
                                        {% elif field.type == 'multienum' %}
                                            {% with selected_values=value|unencode_multienum %}
                                                {% for selected_value in selected_values %}
                                                    <li>{{field.options|get:selected_value|get:"value"}}</li>
                                                {% endfor %}
                                            {% endwith %}
                                        {% elif field.type == 'radioenum' %}
                                            {{field.options|get:value|get:"value"}}
                                        {% elif field.type == 'bool' %}
                                            <input class="checkbox"
                                                id="{{ field }}"
                                                disabled="true"
                                                {% if value == '1' %}
                                                    checked="checked"
                                                {% endif %}
                                                type="checkbox"
                                            >
                                        {% elif field.type == 'date' %}
                                            {{ value|format_date }}
                                        {% elif field.type == 'time' %}
                                            {{ value|format_time }}
                                        {% elif field.type == 'datetime' or field.type == 'datetimecombo' %}
                                            {{ value|format_datetime }}
                                        {% elif field.type == 'double' or field.type == 'float' or field.type == 'decimal' or field.type == 'decimal2' %}
                                            {{ value|floatformat:2 }}
                                        {% elif field.type == 'currency' %}
                                            {{ value|floatformat:2 }}
                                        {% else %}
                                            {{ value|decode|safe }}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
                    </div>
                </div>
            </div>
            {% if module_key == 'Cases' %}
                {% include "portal/module_detail_cases.html" %}
            {% endif %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                {% trans "The requested record was not found." %}
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            {% blocktrans with module=module_labels|get_label:module_key %}Module {{module}} has not defined the detail view.{% endblocktrans %}
        </div>
    {% endif %}

{% endblock %}
