{% if module_fields %}
    {% load filters %}
    <form class="container"
        id="{{ module_key }}_filter"
        action="{% url 'module_list' module_key %}"
        method="post"
    >
        {% csrf_token %}
        {% for field, def in module_fields.items %}
            {% if forloop.first %}
                <div class="row">
            {% endif %}

            <div class="col-md-6 mb-3">
                <label>{{ def.label }}</label>
                {% if def.type == 'enum' %}
                    <select class="form-control" name="{{ field }}" id="filter_{{field}}">
                        {% if not "" in def.options %}
                            <option value=""></option>
                        {% endif %}
                        {% for key, definition in def.options.items %}
                            <option value="{{key}}">{{definition.value}}</option>
                        {% endfor %}
                    </select>
                    {% if field in current_filters %}
                        <script type="text/javascript">
                            $("#filter_{{field}}").val("{{ current_filters|get:field }}");
                        </script>
                    {% endif %}
                {% elif def.type == 'bool' %}
                    <select class="form-control" name="{{ field }}" id="filter_{{field}}">
                        <option value=""></option>
                        <option value="0">No</option>
                        <option value="1">Sí</option>
                    </select>
                    {% if field in current_filters %}
                        <script type="text/javascript">
                            $("#filter_{{field}}").val("{{ current_filters|get:field }}");
                        </script>
                    {% endif %}
                {% else %}
                    <input type="text"
                        class="form-control"
                        placeholder="{{ def.label }}"
                        value="{% if field in current_filters %}{{ current_filters|get:field }}{% endif %}"
                        name="{{ field }}"
                    >
                {% endif %}
            </div>

            {% if forloop.last %}
                </div>
            {% else %}
                {% if forloop.counter|divisibleby:'2' %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="text-right">
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </div>
    </form>
    <br>
{% endif %}