{% extends "portal/basepage.html" %}
{% block title %}{{ module_key }}{% endblock %}
{% block content %}
{% load filters %}

    <h1>{{ module_key }}</h1>
    {% if module_fields %}
        {% if records.entry_list %}
            <table class="table table-striped table-sm">
                <thead class="thead-inverse">
                    <tr>
                        {% for field, def in module_fields.items %}
                            <th id="{{ field.name }}_label">{{ def.label }}</th>
                        {% endfor %}
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records.entry_list %}
                        <tr>
                            {% for field, def in module_fields.items %}
                                <td id="{{ field.name }}">{{ record|get:field }}</td>
                            {% endfor %}
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Pagination">
              <ul class="pagination justify-content-end">
                  {% if records.previous_offset != None %}
                    <li class="page-item"><a class="page-link" href="{% url 'module_list' module_key %}?limit={{ records.current_limit }}&offset={{ records.previous_offset }}">Previous</a></li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                  {% endif %}
                  {% if records.next_offset != None %}
                    <li class="page-item"><a class="page-link" href="{% url 'module_list' module_key %}?limit={{ records.current_limit }}&offset={{ records.next_offset }}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Next</a>
                    </li>
                  {% endif %}
              </ul>
            </nav>
        {% else %}
            <div class="alert alert-info" role="alert">
                No se han encontrado registros.
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            El módulo {{ module_key }} no tiene definida la vista lista.
        </div>
    {% endif %}

{% endblock %}
