{% extends "portal/basepage.html" %}
{% load i18n %}
{% load filters %}
{% block title %}
    {{ module_labels|get_label:module_key }}
{% endblock %}
{% load staticfiles %}
{% block favicon %}
    {% with module_ico=module_key|get_module_ico %}
        <link rel="shortcut icon" href="{% static module_ico %}">
    {% endwith %}
{% endblock %}
<script src="{% static 'portal/session.js' %}"></script>
{% block content %}
{% load filters %}

    <div class="row">
        <div class="col">
            {% with module_img=module_key|get_module_dark_svg %}
                <h1><img src="{% static module_img %}" width="44px"> {{ module_labels|get_label:module_key }}</h1>
            {% endwith %}
        </div>
        <div class="col text-right">
            <a href="{% url 'module_list' module_key %}" class="btn btn-primary"><span class="oi oi-list"></span> {% trans "List" %}</a>
        </div>
    </div>

    <br>

    {% if error_on_create %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="oi oi-cloud-upload"></span>
            {% trans "Error creating record." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif record_created_successfully %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="oi oi-cloud-upload"></span>
            {% trans "Record created successfully." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if module_fields %}

        <form class="card" action="{% url 'module_create' module_key %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="container">
        {% for row in module_fields %}
            <div class="row mb-3">
            {% for field in row %}
                <div class="col">
                    {% if field %}
                        <div class="row {% if field.required %} was-validated{% endif %}">
                            {% if row|length == 1 %}
                                <div class="col-2 {% if field.required %} required{% endif %}">
                            {% else %}
                                <div class="col-4 {% if field.required %} required{% endif %}">
                            {% endif %}
                                <b>{{ field.label|safe }}:</b>
                            </div>
                            <div class="col">
                                {% with value=field.default_value %}
                                    {% include "portal/field_edit_display.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
                    <button type="submit" class="btn btn-success mt-2 float-right"><span class="oi oi-circle-check"></span> {% trans "Create" %}</button>
                    <a href="{% url 'module_list' module_key %}" class="btn btn-danger mt-2 float-right mr-2"><span class="oi oi-circle-x"></span> {% trans "Cancel" %}</a>
                </div>
            </div>
        </form>

    {% else %}
        <div class="alert alert-danger" role="alert">
            {% blocktrans with module=module_labels|get_label:module_key %}Module {{module}} has not defined the create view.{% endblocktrans %}
        </div>
    {% endif %}

{% endblock %}
