{% load i18n %}
{% load filters %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/detail_cases.css' %}" />

{% for update in case_updates.entry_list %}
    {% if update.assigned_user_id %}
        <div class="card border-success user-update">
            <div class="card-header text-white bg-success" data-toggle="collapse"
                data-target="#update_{{update.id}}" aria-expanded="true" aria-controls="update_{{update.id}}">
                <div class="row">
                    <div class="col">
                        <span class="oi oi-chevron-bottom"></span>
                        <span class="oi oi-chevron-top"></span>
                        <b>{{update.assigned_user_link.0.first_name}} {{update.assigned_user_link.0.last_name}}</b>
                    </div>
                    <div class="col">
                        <p class="card-text text-right"><small>{{update.date_entered}}</small></p>
                    </div>
                </div>
            </div>
            <div id="update_{{update.id}}" class="collapse show">
                <div class="card-body">
                    <p class="card-text">{{update.description|decode|safe}}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card border-warning contact-update">
            <div class="card-header text-white bg-warning" data-toggle="collapse"
                data-target="#update_{{update.id}}" aria-expanded="true" aria-controls="update_{{update.id}}">
                <div class="row">
                    <div class="col">
                        <span class="oi oi-chevron-bottom"></span>
                        <span class="oi oi-chevron-top"></span>
                        <b>{{update.contact.0.first_name}} {{update.contact.0.last_name}}</b>
                    </div>
                    <div class="col">
                        <p class="card-text text-right"><small>{{update.date_entered}}</small></p>
                    </div>
                </div>
            </div>
            <div id="update_{{update.id}}" class="collapse show">
                <div class="card-body">
                    <p class="card-text">{{update.description|decode|safe}}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="card contact-update border-warning">
  <div class="card-body">
    <h5 class="card-title">{% trans "Update case" %}</h5>
    <form>
      <div class="form-group">
        <textarea class="form-control" id="update-case-text" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">{% trans "Add update" %}</button>
    </form>
  </div>
</div>
