<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portal/bootstrap.min.css' %}" />
    <script src="{% static 'portal/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'portal/tether.min.js' %}"></script>
    <script src="{% static 'portal/jquery-ui.min.js' %}"></script>
    <script src="{% static 'portal/popper.min.js' %}"></script>
    <script src="{% static 'portal/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bPortal/registration.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portal/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portal/iconic/font/css/open-iconic-bootstrap.css' %}" />
    {% block static_files %}{% endblock %}
    <title>{% block title %}bPortal{% endblock %}</title>
    {% block favicon %}<link rel="shortcut icon" href="{% static 'portal/img/icons/favicon/favicon.ico' %}">{% endblock %}
</head>

<body>

   <div class="container">
       <div class="row justify-content-md-center">
           <div class="col" style="max-width: 400px;">
               {% block content %}{% endblock %}
           </div>
       </div>
   </div><!-- /.container -->

 </body>

</html>
