{% extends "base_registration.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% trans "Please login to see this page." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endif %}
<div class="card">
    <h5 class="card-header">{% trans "Please sign in" %}</h5>
    <div class="card-body">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                <input type="text" class="form-control{% if form.errors %} is-invalid{% endif %}"
                    placeholder="Enter username" name="username" autofocus="" required=""
                    id="id_username" tabindex="1"
                >
            </div>
            <div class="form-group">
                <div class="float-left">
                    {{ form.password.label_tag }}
                </div>
                <div class="float-right">
                    <a href="{% url 'password_reset' %}" tabindex="4">{% trans "Lost password?" %}</a>
                </div>
                <input type="password" class="form-control{% if form.errors %} is-invalid{% endif %}"
                    name="password" required="" id="id_password" placeholder="Password" tabindex="2"
                >
                <div class="invalid-feedback">{% trans "Your username and password didn't match. Please try again." %}</div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn btn-primary" tabindex="3">{% trans "Login" %}</button>
        </form>
    </div>
</div>

{% endblock %}