{% extends "portal/basepage.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col" style="max-width: 500px;">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}
            {% else %}
                {% trans "Please correct the errors below." %}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card">
            <h5 class="card-header">{% trans 'Password change' %}</h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                    <div class="form-group">
                        {{ form.old_password.label_tag }}
                        <input type="password" name="old_password" autofocus="" required="" id="id_old_password"
                        class="form-control{% if form.old_password.errors %} is-invalid{% endif %}">
                        <div class="invalid-feedback">{{ form.old_password.errors }}</div>
                    </div>
                    <div class="form-group">
                        {{ form.new_password1.label_tag }}
                        <input type="password" name="new_password1" required="" id="id_new_password1"
                        class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}">
                        <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                        {% if form.new_password1.help_text %}
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                {{ form.new_password1.help_text|safe }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.new_password2.label_tag }}
                        <input type="password" name="new_password2" required="" id="id_new_password2"
                        class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}">
                        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                        {% if form.new_password2.help_text %}
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                {{ form.new_password2.help_text|safe }}
                            </small>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="3">{% trans 'Change my password' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}