body > .container {
    padding-bottom: 60px;
    padding-top: 120px;
}

.sortable-ul {
  min-height: 30px;
  max-height: 534px;
  overflow-y: auto;
}

.scrollable-dropdown {
    max-height: 600px;
    overflow-y: auto;
}

.selected-arrow {
    color: gray;
}
